body{
    background-image: url('images/team.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#heading{
    text-align: center;
   
    width: 100px;
    color: aliceblue;
}
h3{
    color: white;
}
.text{
    background-color: antiquewhite;
    text-align: center;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    width: 500px;
}
.members{
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.box{
    display: flex;
    flex-direction: column;
height: 150px;
color: white;
align-items: center;

}
.photo{
    height: 100px;
    width: 100px;
    z-index: +1;
    color: White;
    border: 3px solid white;
    margin: 10px;
    border-radius: 50px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.808)

}
#Ashwani{
    background-image: url('images/ashwani1.jpg');
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
#Sujit{
    background-image: url('images/Sujit.png');
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
#Aditya{
    background-image: url('images/Aditya.png');
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
#Shruti{
    background-image: url('images/shruti.png');
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
#Yukti{
    background-image: url('images/yukti.png');
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
#Harshita{
    background-image: url('images/harshita.png');
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
#Swati{
    background-image: url('images/swati.png');
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
#Reshma{
    background-image: url('images/Reshma.png');
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

.box:hover{
   
    translate: 0 -19px;
    transition-duration: 1s;
    
}